@font-face {
    font-family: "Raleway-Regular";
    src: url(../fonts/Raleway-Regular.woff2);
    font-display: wrap;
}

@font-face {
    font-family: "Outfit-Regular";
    src: url(../fonts/outfit-regular.woff2);
    font-display: wrap;
}